# serverless | traditional | event-driven
BACKEND_MODE=traditional
TRADITIONAL_BACKEND_URL=https://academic-analyzer-be-traditional.onrender.com
EVENT_DRIVEN_BACKEND_URL=
# Required only for serverless:
OPENAI_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
APP_PASSWORD_HASH=
SESSION_SECRET=
